doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    style= style
  body
    if data.owner
      sidebar
        div.inner
          h2.description= data.description

          p= (new Date(data.updated_at)).toLocaleDateString()
          p.author by 
            a(href=data.owner.html_url)= data.owner.login


          p.made-with-pequod Made with 
            a(href=data.owner.html_url) pequod

      div.wrapper
        

        if files.readMe
          div.description
            :markdown= files.readMe.content

        if files.index
          div.content!= body


        